
/*
Estilos genéricos
*/
body {
	font-family: 'Lato', sans-serif;
}

/*
Imagen del taxi de fondo
*/
.taxi {
	background-image: url(../assets/images/taxi.jpg);
	background-size: cover;
	background-position: 100% 93%;
	background-repeat: no-repeat;
	height: 51em;
}

/*
Sección amarilla
*/
.yellow {
	background-color: #f7b617;
	margin-top: 20%;
	color: #fff;
	height: 20em;
}

/*
Estilos de los p dentro de la sección
amarilla
*/
.yellow-p {
	font-size: 2em;
	font-weight: bold;
	padding: 0% 5%;
}

/*
Texto ubicado antes del logo
*/
.yellow-text{
	padding: 0% 5%;
	font-size: 1.5em;
}

/*
Texto "O bien"
*/
.white-text {
	font-size: 1em;
	font-weight: bold;
}

/*
Botón regístrate
*/
.botoncito {
	margin: 0% 5%;
}

/*
Botón conductor
*/
.boton-grande {
	margin: 0% 5%;
}

/*
Contenedor de la sección app
*/
.phone {
	background-color: #f7b617;
	height: 43em;
}

/*
Contenedor de la imagen del smartphone
y del texto
*/
.phone-container {
	border: 1px solid #fff;
	margin-top: 6%;
}

/*
h2 de la sección app
*/
.app {
	color: #fff;
	padding-top: 15%;
}

/*
Texto dentro de la descarga de app
*/
.app-text {
	padding: 1%;
	color: #fff;
	font-size: 1.5em;
}

/*
Imagen del teléfono
*/
.img-phone {
	padding-top: 10%;
}